
.DS_Store
/_manuscript/
/index_files/
/site_libs/
/.quarto/
/_sec_first_steps_files
*.html
/_freeze
/_sec_mosfet_diode_files
/xschem/simulation
/_sec_intro_files
/_sec_sizing_files
/figures/_fig_mosfet_diode_files
/figures/_fig_mosfet_small_signal_model_files
/sizing/techsweep_sg13_plots_pmos_files
/sizing/techsweep_sg13_plots_nmos_files
/sizing/techsweep_sg13_plots_files
/sizing/*.out.ipynb
/xschem/simulations
