# macOS
.DS_Store

# Python
__pycache__

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*eps-converted-to.pdf

# Graphics
*.eps
*.html

# Quarto
**/*.quarto_ipynb
**/*_files
/.quarto/
_freeze
_macros_files
_manuscript
_runs
_site
index_files
site_libs

# Project specific
/aicd_files
aicd.tex

# CACE
cace/netlist

# Xschem
xschem/simulation*

# gmid directory
/gmid/*.out.ipynb

# Sizing directory
/sizing/techsweep*.txt
