.DS_Store
*.fdb_latexmk
*.html
*.quarto_ipynb
_freeze
_macros_files
_manuscript
cace/netlist
figures/_fig_*_files
index_files
site_libs
/gmid/*.out.ipynb
/gmid/sizing_*_files
/gmid/techsweep_*_files
xschem/simulation*
_runs
/.quarto/
/sizing/techsweep_sg13_plots_nmos_overview/plots
/sizing/techsweep_sg13_plots_nmos_overview/techsweep_sg13_plots_nmos_overview.aux
/sizing/techsweep_sg13_plots_nmos_overview/techsweep_sg13_plots_nmos_overview.synctex.gz
/sizing/techsweep_sg13_plots_pmos_overview/plots
/sizing/techsweep_sg13_plots_pmos_overview/techsweep_sg13_plots_pmos_overview.aux
/sizing/techsweep_sg13_plots_pmos_overview/techsweep_sg13_plots_pmos_overview.synctex.gz
/sizing/techsweep*.txt
__pycache__
_site
/analog_circuit_design_files
*.aux
*.log
*.pdf
*.toc
*.tex
**/*.quarto_ipynb
/gmid/techsweep_sg13_plots_nmos_overview/plots
/gmid/techsweep_sg13_plots_pmos_overview/plots
/content/_*_files
/content/intro/_*_files
/content/first_steps/_*_files
/content/sizing/_*_files
/content/diode/_*_files
/content/appendix/_*_files
/content/cs_amp/_*_files
/content/current_mirror/_*_files
/content/diffpair/_*_files
/content/cascode/_*_files
/content/ota_basic/_*_files
/content/ota_improved/_*_files
/content/bias/_*_files
/content/summary/_*_files
/content/ota_diff/_*_files
